.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  
  
  }
  .theme-switch {
    display: inline-block;
    height: 22.66px;
    position: relative;
    width: 40px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #b515ffb9;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #ffffffe2;
    bottom: 2.66px;
    content: "";
    height: 17.33px;
    left: 2.66px;
    position: absolute;
    transition: .4s;
    width: 17.33px;
  }
  
  input:checked + .slider {
    background-color: rgb(44, 1, 94);
  }
  
  input:checked + .slider:before {
    transform: translateX(17.33px);
  }
  
  .slider.round {
    border-radius: 22.66px;
  }
  
  .slider.round:before {
    border-radius: 50%
  }