#root{
    margin-bottom: 100vw;
}

/*Logo*/
.bibiController{
    display: flex;
    
    align-items: flex-end;
}

.bibiController p{
    margin: 1rem;
}

/*CartWidget*/
.bibicart{
    display: flex;
    padding: 1rem;
}
.bibicart :hover{
    opacity: 0.75;
    
}

/*ItemListContainer*/
.itemListCont{
    border: solid;
    padding: 1.5rem;
    margin: 7rem;
}

.itemListCont p{
    text-align: center;
}

/*Cards Productos*/

.cardProductos{
    margin: 2rem;
    padding: 2rem;    
    justify-content: center;
}

.cardProducto{
    width: 18rem;
    padding: 0.5rem;
    margin: 1rem;
}

.cardBody{
    text-align: center;
}

.card-img{
    border-radius: 80px;
}

/*btn-dark*/

.btn-dark{
    margin: 1rem;
}

/*Categoria pointer*/

span.nav-link{
    cursor: pointer;
}