#root{
    margin-bottom: 100vw;
}

/*Logo*/
.bibiController{
    display: flex;
    
    align-items: flex-end;
}

.bibiController p{
    margin: 1rem;
}

/*CartWidget*/
.bibicart{
    display: flex;
    padding: 1rem;
}
.bibicart :hover{
    opacity: 0.75;
    
}

/*ItemListContainer*/
.itemListCont{
    border: solid;
    padding: 1.5rem;
    margin: 7rem;
}

.itemListCont p{
    text-align: center;
}

/*Cards Productos*/

.cardProductos{
    margin: 2rem;
    padding: 2rem;    
    justify-content: center;
}

.cardProducto{
    width: 18rem;
    padding: 0.5rem;
    margin: 1rem;
}

.cardBody{
    text-align: center;
    
    
}

.cardBodyDark{
    text-align: center;   
    color: rgb(255, 255, 255);
    background-color: rgba(236, 62, 224, 0.412);
}

.card-img{
    border-radius: 80px;
}

/*btn-dark*/

.btn-dark{
    margin: 1rem;
}

/*Categoria pointer*/

span.nav-link{
    cursor: pointer;
}

/*Dark Mode*/

.darkMode{
    background-color: rgb(255, 255, 255) ;
    color: rgb(255, 255, 255) ;
    
}

/*Item Detail*/

.img-fluid{
    margin: 1rem;

}

.itemDetail{
    max-width: 80%;
    margin-top: 2rem;
    border: solid 2px;
    padding: 1rem;

}

.bodyItemDetailDark{
    background-color: rgba(157, 0, 171, 0.76);
    border: solid rgb(255, 31, 199);
    

}


.cartContainer {
    margin-top: 3%;
    margin-left: 26,5%;
}

.divButtons button {
    margin:4px;
}

.cardCart {
    max-width: 640px;
}

