#root{
    margin-bottom: 100vw;
}


h2{
    font-size: calc(1.325rem + .9vw);
    text-align: center;
    padding: 1rem; 
    justify-content: flex-start;
}

.nav-link {
    text-align-last: center;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

/*Logo*/
.bibiController{
    display: flex;
    
    align-items: flex-end;
}

.bibiController p{
    margin: 1rem;
}

/*CartWidget*/
.bibicart{
    display: flex;
    padding: 1rem;
}
.bibicart :hover{
    opacity: 0.75;
    
}

/*ItemListContainer*/
.itemListCont{
    border: solid;
    padding: 1.5rem;
    margin: 7rem;
}

.itemListCont p{
    text-align: center;
}

/*Cards Productos*/

.cardProductos{
    margin: 2rem;
    padding: 2rem;    
    justify-content: center;
}

.cardProducto{
    width: 18rem;
    padding: 0.5rem;
    margin: 1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    text-align-last: center;
}

.cardBody{
    text-align: center;
    
    
}

.cardBodyDark{
    text-align: center;   
    color: rgb(255, 255, 255);
    background-color: rgba(236, 62, 224, 0.412);
}

.card-img{
    border-radius: 80px;
}

/*btn-dark*/

.btn-dark{
    margin: 1rem;
}

/*Categoria pointer*/

span.nav-link{
    cursor: pointer;
}

/*Dark Mode*/

.darkMode{
    background-color: rgba(178, 147, 213, 0.803) ;
    color: rgb(255, 255, 255) ;
    
}


/*FormCheckoutDark*/
.formCheckoutDark{
    background-color: rgb(127, 127, 127) ;
    color: rgb(163, 163, 163) ;
}

/*Item Detail*/

.img-fluid{
    margin: 1rem;

}

.itemDetail{
    max-width: 80%;
    margin-top: 2rem;    
    padding: 0rem;
    bottom: 1rem;

}

.bodyItemDetailDark{
    background-color: rgba(178, 147, 213, 0);
    padding: 1rem;
    
   
    

}


.cartContainer {
    margin-top: 3%;
    margin-left: 26,5%;
}

.divButtons button {
    margin:4px;
}

.cardCart {
    max-width: 640px;
}

.img-fluid{
    border-radius: 20%;
    box-shadow: 3px 0px 14px 0px black;
}

#incorrectEmail{
    color: red;
    display: flex;
    justify-content: center;
    
}

